.layout {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  column-gap: var(--col-gap);
}

.layout__full {
  grid-column: var(--grid-span-full);
}

.layout__text {
  grid-column: var(--grid-span-text);
}
