h1,
.h1 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(36);
  line-height: 1.1;
  text-transform: none;
  letter-spacing: 0;
}

h2,
.h2 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(32);
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0;
}

h3,
.h3 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(24);
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0;
}

h4,
.h4 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(18);
  line-height: 1.2;
}

h5,
.h5 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1;
}

@media (min-width: 72em) {
  h1,
  .h1 {
    font-size: rem-calc(56);
  }

  h2,
  .h2 {
    font-size: rem-calc(44);
  }

  h3,
  .h3 {
    font-size: rem-calc(32);
  }

  h4,
  .h4 {
    font-size: 1.25rem;
  }

  h5,
  .h5 {
    font-size: 1.125rem;
  }
}

.text--sm-500 {
  font-size: 0.875rem;
  font-weight: 500;
}

.text--sm-500 {
  font-size: 0.875rem;
  font-weight: 400;
}

.text--xs {
  font-size: 0.75rem;
}

.text--accent {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.text--xs {
  font-size: 0.75rem;
}
