.card-list {
  margin-top: -2rem;
  margin-bottom: var(--section-spacing);

  &--unstyled-icons {
    .card-list__icon {
      padding: 0;
      background-color: transparent;

      svg {
        width: initial;
        height: initial;
        max-height: 3rem;
        max-width: 3rem;
      }
    }
  }
}

.card-list__list {
  display: grid;
  grid-column: 1 / -1;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-list__item {
  position: relative;
}

.card-list__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  outline-offset: 0.25rem;

  &:hover,
  &:focus {
    & ~ .card-list__item-container .card-list__cta {
      color: var(--color-link-hover-text);

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.card-list__item {
  padding: 1rem 0;
  box-shadow: var(--box-shadow);
}

.card-list__item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  grid-column: 2/-2;

  & > * + * {
    margin-top: 1.25rem;
  }
}

.card-list__text {
  margin-bottom: 1.25rem;
}

.card-list__cta {
  margin-top: auto;
}

.card-list__icon {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--color-yellow);
  border-radius: 50%;

  svg,
  img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
}

@media (min-width: 48em) {
  .card-list {
    margin-top: 0;
  }

  .card-list__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem-calc(280), 1fr));
    grid-column: var(--grid-span-full);
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }

  .card-list__item {
    display: block;
    padding: 1rem 1rem 1.25rem;
  }
}
