.case-study {
  --break-grid: var(--grid-span-text);

  .break-grid__content:last-child {
    margin-bottom: var(--section-spacing);
  }
}

.case-study__tagline {
  padding: 2.5rem 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

.case-study__pretitle {
  margin-bottom: 1rem;
}

.case-study__content {
  margin: var(--section-spacing) 0;
}

@media (min-width: 48em) {
  .case-study__tagline {
    margin: var(--section-spacing) 0;
    padding: var(--section-spacing) 0;
  }
}
