.client-list {
  margin: var(--section-spacing) 0;
  text-align: center;
}

.client-list__button {
  margin-top: 2rem;

  &[aria-expanded="false"] {
    & + .client-list__grid {
      opacity: 0;
      visibility: hidden;
      max-height: 0;
    }

    & ~ & {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    display: none;

    & + .client-list__grid {
      margin-top: 1.5rem;
      opacity: 1;
      visibility: visible;
      max-height: none;
    }
  }
}

.client-list__heading {
  margin-bottom: 1.5rem;
  text-align: left;
}

.client-list__mobile {
  grid-column: 1 / -1;
}

.client-list__grid {
  text-align: left;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.client-list__desktop {
  display: none;
}

@media (min-width: 48em) {
  .client-list {
    margin-top: 0;
  }

  .client-list__mobile {
    grid-column: 2 / -2;
  }

  .client-list__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem-calc(280), 1fr));
    grid-column: var(--grid-span-full);
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 62em) {
  .client-list {
    margin-top: calc(var(--section-spacing) * 2);
  }

  .client-list__mobile {
    display: none;
  }

  .client-list__desktop {
    display: block;
  }
}
