.color-hero {
  position: relative;
  aspect-ratio: 1 / 1;
  color: var(--color-text);

  &-sm {
    aspect-ratio: 5 / 4;
  }
}

.color-hero__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  mix-blend-mode: multiply;
}

.color-hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

.color-hero__container {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100%;
  padding: 3rem 0;
  transform: translate3d(0, 0, 0);
}

.color-hero__title {
  max-width: rem-calc(620);
  margin-bottom: 1.5rem;
}

.color-hero__text {
  max-width: rem-calc(380);
}

.color-hero__link {
  margin-top: 1.5rem;
}

@media (min-width: 48em) {
  .color-hero {
    aspect-ratio: 256 / 145;
    max-height: 100vh;
    min-width: 100%;

    &--sm {
      aspect-ratio: 1024 / 451;
    }
  }

  .color-hero__container {
    padding: 4.5rem 0;
  }
}

@media (min-width: 110em) {
  .color-hero {
    aspect-ratio: 5 / 2;

    &--sm {
      aspect-ratio: 3 / 1;
    }
  }
}
