.column-list {
  padding: 2rem 0;
  background-color: var(--color-yellow);
}

.column-list__list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.column-list__heading {
  margin-bottom: 1.25rem;
}

.column-list__item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-bottom: rem-calc(1) solid currentColor;
  margin-bottom: rem-calc(-1);

  &:first-child {
    margin-top: 0;
  }
}

.column-list__icon {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.column-list__item-heading {
  margin-bottom: 1rem;
}

.column-list__text {
  margin-bottom: 1.5rem;
}

.column-list__link {
  margin-top: auto;
  margin-bottom: 1rem;
}

@media (min-width: 40em) {
  .column-list {
    padding: 2.75rem 0;
  }

  .column-list__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(rem-calc(280), 1fr));
    gap: var(--col-gap);
  }

  .column-list__heading {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 62em) {
  .column-list__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--col-gap);
  }

  .column-list__item {
    margin-top: 0;
  }
}
