.contact-form {
  --color-link-background: var(--color-purple);
  --color-link-text: var(--color-white);
  margin: var(--section-spacing) 0;
}

.contact-form__heading {
  margin-bottom: 2rem;
}

.contact-form__heading,
.contact-form__text {
  max-width: rem-calc(780);
  grid-column: var(--grid-span-full);
}

.contact-form__form {
  position: relative;
  margin: 1rem 0;
  padding: 2rem 0;
  grid-column: 1 / -1;
}

.contact-form__form-content {
  grid-column: 2 / -2;
}

$states: "loading", "success", "error";

.contact-form__form {
  position: relative;
  margin-top: 1.5rem;

  @each $state in $states {
    &[data-status="#{$state}"] {
      .contact-form__status {
        opacity: 1;
        pointer-events: auto;
      }

      .contact-form__#{$state} {
        display: block;
        pointer-events: auto;
      }
    }
  }
}

.contact-form__input {
  display: block;
  margin-bottom: 1.5rem;
  outline-offset: 0.25rem;
}

.contact-form__input {
  width: 100%;
}

.contact-form__button {
  display: block;
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  border: none;
}

.contact-form__status {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  background-color: rgba(98, 0, 238, 0.9);
  color: var(--color-white);
  text-align: center;
  line-height: 1.5;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.3s ease;

  & > * {
    grid-column: 2 / -2;
  }
}

.contact-form__loading {
  display: none;
}

.contact-form__error {
  display: none;
}

.contact-form__success {
  display: none;
}

.contact-form__status-heading {
  margin-bottom: 1.5rem;
}

.contact-form__reset {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1.5rem;
  grid-column: -1;
  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
}

.contact-form__spinner {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  border: 0.375rem solid var(--color-white);
  border-top: 0.375rem solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  animation: 1s rotate infinite linear;
}

@media (min-width: 48em) {
  .contact-form__form {
    margin: var(--section-spacing) 0;
    padding: var(--section-spacing) 0;
  }

  .contact-form__reset {
    top: 2.5rem;
    right: 2.5rem;
  }
}

@media (min-width: 62em) {
  .contact-form__form-content,
  .contact-form__success {
    grid-column: 4 / -4;
  }
}

@media (min-width: 80em) {
  .contact-form__form-content,
  .contact-form__success {
    grid-column: 5 / -5;
  }
}

@media (min-width: 120em) {
  .contact-form__form-content {
    grid-column: 6 / -6;
  }
}
