.contact-info {
  padding: rem-calc(80 0);
  background-color: var(--color-yellow);
}

.contact-info__heading {
  margin-bottom: 2rem;
}

.contact-info__socials {
  color: var(--color-purple);
}

.contact-info__social-heading {
  margin-bottom: 0.5rem;
}

@media (min-width: 48em) {
  .contact-info__container {
    display: flex;
    align-items: center;
    gap: 15%;
  }

  .contact-info__main {
    flex: 0 0 rem-calc(380);
  }
}
