.event-cards {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: rem-calc(26);
  margin: 0;
  padding: 0;
  list-style: none;
}

.event-card {
  position: relative;
  padding: 1.5rem 0;
  box-shadow: var(--box-shadow);
  border-top: 0.875rem solid;

  &--meetup {
    border-color: var(--color-yellow);
  }

  &--conference {
    border-color: var(--color-blue);
  }

  &--workshop {
    border-color: var(--color-purple);
  }
}

.event-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  outline-offset: 0.25rem;

  &:hover {
    & ~ .event-card__container .event-card__cta {
      color: var(--color-link-hover-text);

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.event-card__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  grid-column: 2/-2;

  & > * + * {
    margin-top: 1rem;
  }
}

.event-card__meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.875rem;
  color: var(--color-gray);
}

.event-card__image {
  display: block;
  width: auto;
  max-height: 8rem;
  object-fit: contain;
  object-position: left center;
}

.event-card__description {
  margin: 1rem 0;
  font-size: 0.875rem;
}

.event-card__cta {
  margin-top: auto;
}

@media (min-width: 34em) {
  .event-cards {
    grid-column: var(--grid-span-full);
  }

  .event-card {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
