.image-text {
  --bar-height: 2.5rem;
  position: relative;
  margin: var(--section-spacing) 0;
}

.image-text__container {
  align-items: center;

  & + & {
    margin-top: var(--section-spacing);
  }
}

.image-text__image-wrapper {
  position: relative;
  grid-column: 1 / -1;
  z-index: 1;
}

.image-text__video-wrapper {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
}

.image-text__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-text__bar-position {
  position: absolute;
  left: 0;
  width: 50%;
  transform: translateY(-50%);
  mix-blend-mode: multiply;
}

.image-text__bar {
  height: var(--bar-height);
  transform-origin: left center;
}

.image-text__image {
  display: block;
  width: 100%;
}

.image-text__main {
  grid-column: 2 / -2;
  margin: rem-calc(53) auto 0;
}

.image-text__title {
  margin-bottom: 1rem;
}

.image-text__link {
  margin-top: 1.5rem;
}

@media (min-width: 48em) {
  .image-text {
    &--bar-top {
      .image-text__container:nth-child(odd) {
        padding-top: calc(var(--bar-height) / 2);

        .image-text__bar-position {
          top: calc(var(--bar-height) / 2);
        }
      }

      .image-text__container:nth-child(even) {
        padding-bottom: calc(var(--bar-height) / 2);
      }
    }

    &--bar-bottom {
      .image-text__container:nth-child(even) {
        padding-top: calc(var(--bar-height) / 2);

        .image-text__bar-position {
          top: calc(var(--bar-height) / 2);
        }
      }

      .image-text__container:nth-child(odd) {
        padding-bottom: calc(var(--bar-height) / 2);
      }
    }
  }

  .image-text__container {
    &--left {
      .image-text__image-wrapper {
        grid-column: 7 / -1;
      }

      .image-text__main {
        grid-row: 1;
        grid-column: 2 / span var(--grid-span-split);
      }
    }

    &--right {
      .image-text__bar-position {
        left: auto;
        right: 0;
      }

      .image-text__bar {
        transform-origin: right center;
      }

      .image-text__image-wrapper {
        grid-column: 1 / 9;
      }

      .image-text__main {
        grid-column: 9 / span var(--grid-span-split);
      }
    }
  }

  .image-text__image-wrapper {
    position: static;
    flex: 1 1 50%;
  }

  .image-text__bar-position {
    width: calc(((100vw - 60rem) / 2) + 42rem);
  }

  .image-text__main {
    position: relative;
    margin: 0;
    z-index: 2;
  }
}

@media (min-width: 62em) {
  .image-text__container {
    --bar-height: 5rem;
  }

  .image-text__main {
    margin: -2rem 0 0;
  }

  .image-text__container {
    &--left {
      .image-text__image-wrapper {
        grid-column-end: -2;
      }
    }

    &--right {
      .image-text__image-wrapper {
        grid-column-start: 2;
      }
    }
  }
}

@media (min-width: 80em) {
  .image-text__container {
    &--left {
      .image-text__main {
        grid-column-start: 3;
      }

      .image-text__image-wrapper {
        grid-column: 8 / -3;
      }
    }

    &--right {
      .image-text__main {
        grid-column-start: 9;
      }

      .image-text__image-wrapper {
        grid-column: 3 / 8;
      }
    }
  }
}

@media (min-width: 100em) {
  .image-text__container {
    --grid-span-split: 3;

    &--left {
      .image-text__main {
        grid-column-start: 4;
      }
    }
  }
}
