.mobile-menu {
  --navbar-height: 3rem;
  position: absolute;
  padding: 2rem 0;
  width: 100%;
  left: 0;
  height: calc(100vh - 3rem);
  background-color: var(--color-purple);
  color: var(--color-white);
  overflow-y: auto;
  z-index: 5;
}

.mobile-menu__list {
  margin: auto;
  padding: 0;
  list-style: none;

  & > * + * {
    margin-top: 2rem;
  }
}

.mobile-menu__link {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  .icon-arrow {
    width: 0.625em;
  }
}

.mobile-menu__submenu {
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}

.mobile-menu__submenu-item {
  & + & {
    margin-top: 0.75rem;
  }
}

.mobile-menu__submenu-link {
  display: inline-block;
  text-decoration: none;
}
