.nav-dropdown {
  position: relative;
}

.nav-dropdown {
  &:hover,
  &:focus-within {
    .nav-dropdown__toggle {
      background-color: var(--color-white);
      color: var(--color-purple);
    }

    .nav-dropdown__dropdown {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav-dropdown__toggle {
  transition: 0.3s background-color ease, 0.3s color ease;
}

.nav-dropdown__dropdown {
  position: absolute;
  left: 0%;
  width: rem-calc(280);
  padding-top: 2rem;
  pointer-events: none;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity 0.15s ease, 0.3s visibility 0.15s ease;

  [data-js-enabled="false"] & {
    transition: none;
  }
}

.nav-dropdown__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.nav-dropdown__link {
  display: block;
  font-size: 0.875rem;
  padding: 1rem 1.5rem;
  color: var(--color-body-text);
  text-decoration: none;
  transition: 0.3s background-color ease;

  &:hover,
  &:focus {
    background-color: var(--color-aqua);
  }
}
