.pagination__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--section-spacing);
  padding-top: 2rem;
  border-top: 0.0625rem solid currentColor;
}

.pagination__link {
  color: var(--color-purple);
  text-decoration: none;

  svg {
    width: 0.75rem;
    margin-bottom: -0.125rem;
  }

  &[aria-hidden="true"] {
    opacity: 0.5;
  }
}

.pagination__previous {
  svg {
    margin-right: 0.5rem;
    transform: scaleX(-1);
  }
}

.pagination__next {
  svg {
    margin-left: 0.5rem;
  }
}
