.post-cards {
  grid-column: 1 / -1;
  display: grid;
  gap: 1.5rem;
  margin: var(--section-spacing) 0;
  padding-left: 0;
  list-style: none;
}

.post-card {
  position: relative;
  height: 100%;
  padding: 1rem;
  border-top: 0.875rem solid var(--color-blue);
  box-shadow: var(--box-shadow);
}

.post-card__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-column: 2 / -2;
}

.post-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  &:focus {
    outline-offset: 0.25rem;
  }

  &:hover {
    & ~ .post-card__cta:before {
      transform: scaleX(1);
    }
  }
}

.post-card__meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.post-card__date {
  font-size: 0.875rem;
  color: var(--color-gray);
  margin-left: 1rem;
}

.post-card__tags {
  color: var(--color-blue);
}

.post-card__title {
  margin-bottom: 1rem;
}

.post-card__author {
  position: relative;
  margin-bottom: 1rem;
  z-index: 2;
}

.post-card__description {
  margin-bottom: var(--spacing);
  font-size: 0.875rem;
  line-height: 1.4;
}

.post-card__cta {
  margin-top: var(--spacing);
  align-self: flex-start;
  margin-top: auto;
}

.post-card__internal-link {
  position: relative;
  z-index: 3;
}

@media (min-width: 48em) {
  .post-cards {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-column: 2 / -2;
  }

  .post-card {
    display: block;
    padding: 1.25rem 1.25rem 2rem;
    border-radius: var(--border-radius);
  }
}

@media (min-width: 80em) {
  .post-cards {
    grid-column: 3 / -3;
  }
}

@media (min-width: 100em) {
  .post-cards {
    grid-column: 4 / -4;
  }
}
