.quote {
  margin: var(--section-spacing) auto;
}

.quote__figure {
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 0.5rem;
  margin: 0;
}

.quote__image-wrapper {
  grid-column: 2;
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  overflow: hidden;
}

.quote__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote__text {
  grid-column: 2;
  margin: 0;
}

.quote__icon {
  color: var(--color-background);
}

.quote__source {
  position: relative;
  grid-column: 2;
  margin-top: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  background-color: var(--color-background);
  color: var(--color-text);
  z-index: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: var(--color-background);
    transform: translateX(-99%);
    z-index: -1;
  }
}

@media (min-width: 48em) {
  .quote {
    margin: calc(var(--section-spacing) * 2) auto;
  }

  .quote__figure {
    grid-template-columns: 3.5rem auto;
    gap: 1.5rem;
  }

  .quote__source {
    margin-top: 0;
    max-width: 80%;
  }
}
