.quote {
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 0.5rem;
  margin: var(--section-spacing) auto;
}

.quote__text {
  margin: 0;
}

.quote__icon {
  color: var(--color-background);
}

.quote__source {
  position: relative;
  grid-column: 2;
  margin-top: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  background-color: var(--color-background);
  color: var(--color-text);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    transform: translateX(-99%);
  }
}

@media (min-width: 48em) {
  .quote {
    margin: calc(var(--section-spacing) * 2) auto;
    grid-template-columns: 3rem auto;
    gap: 2rem;
  }

  .quote__source {
    margin-top: 0;
    max-width: 70%;
  }
}
