.rte {
  line-height: 1.5;

  h2 {
    margin-bottom: 1.5rem;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.75rem;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  img,
  picture,
  video {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  video {
    width: 100%;
  }

  figure picture,
  picture img {
    margin-top: 0;
    margin-bottom: 0;
  }

  pre code {
    margin: 1.5rem 0;
  }

  .image--full {
    grid-column: 1 / -1;
    width: 100%;
  }

  .iframe-container {
    width: 100%;
    margin: 1.5rem 0;

    &[data-src*="youtube"] {
      position: relative;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  a:not([class]) {
    font-weight: 700;
    color: var(--color-blue);
    text-decoration: underline;
  }
}

.rte--small {
  h2,
  .h2 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: rem-calc(24);
    line-height: 1.25;
    text-transform: none;
    letter-spacing: 0;
  }

  h3,
  .h3 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: rem-calc(16);
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
  }
}
