.secondary-feature {
  margin: var(--section-spacing) 0;
  background-color: var(--color-background);
}

.secondary-feature__image-wrapper {
  position: relative;
  grid-column: 1 / -1;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50%;
    background-color: var(--color-body-background);
  }
}

.secondary-feature__image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 15.125rem;
  border: 0.25rem solid var(--color-body-background);
  background-color: var(--color-body-background);
  z-index: 1;
}

.secondary-feature__main {
  grid-column: 2 / -2;
  color: var(--color-text);
  padding: 1.5rem 0 2.5rem;
}

.secondary-feature__title {
  margin-bottom: 0.5rem;
}

.secondary-feature__link {
  margin-top: 1.25rem;
}

@media (min-width: 40em) {
  .secondary-feature {
    align-items: center;
    background-color: var(--color-body-background);
  }

  .secondary-feature__image-wrapper {
    grid-column: 2 / 5;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .secondary-feature__main {
    position: relative;
    align-self: stretch;
    padding: 2rem 0;
    z-index: 0;
    grid-column: 7/-1;
    background-color: var(--color-background);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 9rem;
      height: 100%;
      background-color: var(--color-background);
      transform: skew(30deg);
      transform-origin: 0 100%;
      z-index: -1;
    }

    & > * {
      max-width: rem-calc(400);
    }
  }
}

@media (min-width: 62em) {
  .secondary-feature__main {
    & > * {
      max-width: rem-calc(460);
    }
  }
}

@media (min-width: 80em) {
  .secondary-feature__image-wrapper {
    grid-column: 3 / 6;
  }
}

@media (min-width: 100em) {
  .secondary-feature__image-wrapper {
    grid-column: 4 / 6;
  }
}
