.secondary-feature {
  margin: var(--section-spacing) 0;
}

.secondary-feature__image-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50%;
    background-color: var(--color-background);
  }
}

.secondary-feature__image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 15.125rem;
  border: 0.25rem solid var(--color-body-background);
  z-index: 1;
}

.secondary-feature__main {
  color: var(--color-text);
  padding: 1.5rem 5% 2.5rem;
  background-color: var(--color-background);
}

.secondary-feature__title {
  margin-bottom: 0.5rem;
}

.secondary-feature__link {
  margin-top: 1.25rem;
}

@media (min-width: 40em) {
  .secondary-feature {
    display: flex;
    align-items: center;
  }

  .secondary-feature__image-wrapper {
    flex: 1 1 40%;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .secondary-feature__main {
    position: relative;
    flex: 1 1 60%;
    align-self: stretch;
    padding: 2rem 1.5rem;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 9rem;
      height: 100%;
      background-color: var(--color-background);
      transform: skew(30deg);
      transform-origin: 0 100%;
      z-index: -1;
    }

    & > * {
      max-width: rem-calc(460);
    }
  }
}

@media (min-width: 62em) {
  .secondary-feature__image-wrapper {
    padding-right: 9rem;
  }

  .secondary-feature__image {
    margin-right: 0;
  }
}
