.split-list {
  position: relative;
  margin: var(--section-spacing) 0;
  padding: 4rem 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

.split-list__main {
  & > * + * {
    margin-top: 1.5rem;
  }
}

.split-list__list {
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
}

.split-list__list-item {
  padding: 1rem 0;
  border-bottom: 0.0625rem solid currentColor;
}

.split-list__link {
  &--mobile {
    margin-top: 1.5rem;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: 50em) {
  .split-list__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .split-list__link {
    &--desktop {
      display: inline-block;
    }

    &--mobile {
      display: none;
    }
  }
}
