.tags {
  margin-top: 0;
  padding: 0;
  margin-left: -0.5rem;
  margin-bottom: -0.5rem;
}

.tags__tag-item {
  display: inline-block;
  align-self: flex-start;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.tags__tag {
  display: inline-block;
  font-weight: 500;
  letter-spacing: rem-calc(1);
  text-transform: uppercase;
  color: var(--color-tag);
  text-decoration: none;
}
