.talk-card {
  position: relative;
  padding: 1rem 0 2rem;
  border-top: 0.75rem solid var(--color-accent);
  box-shadow: var(--box-shadow);
}

.talk-card__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  grid-column: 2 / -2;
}

.talk-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  outline-offset: 0.25rem;

  &:hover {
    & ~ .talk-card__container .talk-card__cta {
      color: var(--color-link-hover-text);

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.talk-card__image-wrapper {
  max-width: rem-calc(70);
  margin-bottom: 0.5rem;
}

.talk-card__description {
  margin: 1rem 0 1.25rem;
}

.talk-card__cta {
  margin-top: auto;
  pointer-events: none;
}

@media (min-width: 48em) {
  .talk-card {
    display: block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
