.workshop-cards {
  display: grid;
  gap: 1.5rem;
  grid-column: 1 / -1;
  margin: 0 0 var(--section-spacing);
  padding: 0;
  list-style: none;
}

.workshop-card {
  position: relative;
  padding: 1.5rem 0 2rem;
  box-shadow: var(--box-shadow);
  border-top: 0.875rem solid var(--color-blue);
}

.workshop-card__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2 / -2;
}

.workshop-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  outline-offset: 0.25rem;

  &:hover {
    & ~ .workshop-card__container .workshop-card__cta {
      color: var(--color-link-hover-text);

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.workshop-card__meta {
  margin-bottom: 0.5rem;
  color: var(--color-gray);
  font-size: 0.875rem;
  font-weight: 600;
}

.workshop-card__title {
  margin-bottom: 1rem;
}

.workshop-card__lead-image-wrapper {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0;
}

.workshop-card__lead-image {
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 0;
  width: 2.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.workshop-card__lead-text {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-gray);
}

.workshop-card__description {
  margin: 1rem 0;
  font-size: 0.875rem;
  line-height: 1.4;
}

.workshop-card__cta {
  margin-top: auto;
  pointer-events: none;
}

@media (min-width: 48em) {
  .workshop-cards {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-column: var(--grid-span-full);
  }

  .workshop-card {
    display: block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: var(--border-radius);
  }
}
