{% from "color-hero.njk" import colorHero %}

{% set 'content' = {
  "title": "Grow <em>your business</em> with us",
  "text": "<p>Let's talk about the challenges that you're facing.</p><p>Our experts are ready to guide you through your next big move.</p>",
  "linkUrl": "/contact/",
  "linkText": "Partner with us",
  "image": "/assets/images/photos/0001.jpg",
  "alt": "Person looking at a laptop, looking contemplatives",
  "loading": "lazy"
} %}
{{ colorHero('md', 'purple', content) }}
