{% from "secondary-feature.njk" import secondaryFeature %}

{% set 'content' = {
  "title": "Erlang Ecosystem Foundation",
  "text": "Mainmatter is a Founding sponsor of the Erlang Ecosystem Foundation.",
  "linkUrl": "/expertise/elixir-phoenix/",
  "linkText": "Find out more",
  "image": "/assets/images/logos/background/eef-logo.svg",
  "alt": "Erlang Ecosystem Foundation logo",
  "loading": "lazy"
} %}
{{- secondaryFeature(content) -}}
