---
layout: base
---
{% from "split-hero.njk" import splitHero %}

{%- block content -%}
  <article class="case-study">
    <section class="split-hero layout split-hero--left" data-color-scheme="aqua">
      <div class="split-hero__main">
        <h1>
          <span class="split-hero__pretitle text--accent">Case study</span>
          <span class="split-hero__title h1 text-animation">
            {{ displayTitle | safe }}
          </span>
        </h1>
      </div>
      <div class="split-hero__image-wrapper">
        {% if hero.image %}
          {% image hero.image, hero.imageAlt, '(min-width: 48em) 50vw, 100vw', 'eager', 'split-hero__image' %}
        {% endif %}
        <div class="split-hero__banner">
          {% set imagePath %}/assets/images/logos/{{ company | slug }}.svg{% endset %}
          {% image imagePath, company, '', 'eager', 'split-hero__logo' %}
        </div>
      </div>
    </section>

    <div class="case-study__tagline layout" data-color-scheme="yellow">
      <div class="layout__text">
        <h2 class="case-study__pretitle text--accent">The client</h2>
        <div class="h3">
          {{ tagline | safe }}
        </div>
      </div>
    </div>

    <div class="break-grid case-study__content">
      {{ content | safe }}
    </div>
  </article>

  {% set next = collections.caseStudiesFeatured | getNextCollectionItem(page) %}
  {% if next %}{% else %}
    {% set next = collections.caseStudiesFeatured[0] %}
  {% endif %}

  {% set logo %}/assets/images/logos/{{ next.data.company | slug }}.svg{% endset %}

  {% if next %}
    {% set 'content' = {
      "pretitle": "Case study",
      "title": next.data.displayTitle,
      "text": next.data.description,
      "image": next.data.hero.image,
      "linkUrl": next.url,
      "linkText": "Read case study",
      "alt": next.data.hero.imageAlt,
      "loading": "lazy",
      "logo": logo,
      "logoAlt": next.data.company
    } %}
    {{ splitHero('left', 'blue', content) }}
  {% endif %}

  {% include 'content/hero-grow-with-us-work.njk' %}
{%- endblock -%}
