---
layout: base
noStickyHeader: true
---
{% from "post-pagination.njk" import postPagination %}

{%- block content -%}
  <div class="post">
    <article class="post__layout layout rte">
      <div class="post__tags">
        <ul class="tags">
          {% for tag in tags %}
            <li class="tags__tag-item">
              <a class="tags__tag tags__tag--link" href="/blog/tag/{{ tag | slug }}">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="post__date">
        {{ date | monthDayYear }}
      </div>
      <h1 class="post__title"> {{ title }}</h1>
      <div class="post__tagline">
        {{ tagline | safe }}
      </div>
      <div class="author author--post">
        {% set author = authorHandle | findBySlug %}
        <div class="author__image-wrapper">
          {% set imageUrl = '/assets/images/authors/' + author.data.page.fileSlug + '.jpg' %}
          {% image imageUrl, '', '2.5rem', 'eager', 'author__image', [40, 80] %}
        </div>
        <div class="author__text-wrapper">
          <div class="author__byline">
            by
            <a class="author__name" href="/blog/author/{{ author.data.page.fileSlug }}">
              {{ author.data.name }}
            </a>
          </div>
          <p class="author__bio">
            {% if bio %}{{ bio }}{% else %}{{ author.data.bio }}{% endif %}
            <a class="author__twitter" href="https://twitter.com/{{ author.data.twitter }}/">
              {% include 'svg/social-twitter.njk' %}
              <span class="screenreader">@{{ author.data.twitter }} on Twitter</span>
            </a>
          </p>
        </div>
      </div>
      <div class="post__separator"></div>
      {{ content | safe }}
    </article>

    <div class="layout">
      {% set previous = collections.posts | getPreviousCollectionItem(page) %}
      {% set next = collections.posts | getNextCollectionItem(page) %}
      {{ postPagination(previous, next, 'post') }}
    </div>
  </div>
{%- endblock -%}
