---
layout: 'base'
---
{% from "post-pagination.njk" import postPagination %}

{%- block content -%}
  <div class="post">
    <article class="post__layout layout rte">
      <div class="post__tags">
        {{ label }}
      </div>
      <div class="post__date">
        {{ date | monthDayYear }}
      </div>
      <h1 class="post__title"> {{ title }}</h1>
      <div class="post__tagline">
        {{ content | safe }}
      </div>
      <div class="iframe-container">
        <iframe width="560" height="315" src="{{ videoUrl }}" title="Embedded video for {{ label }} {{ title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </article>

  <div class="layout">
      {% set videos = collections.videos | filterByAttribute('kind', 'built-to-last') %}
      {% set previous = videos | getPreviousCollectionItem(page) %}
      {% set next = videos | getNextCollectionItem(page) %}
      {{ postPagination(previous, next, 'video') }}
    </div>
  </div>
{%- endblock -%}
