---
layout: 'base'
---
{%- block content -%}
  <article class="post workshop">
    <div class="post__layout layout">
      <div class="post__tags">
        {{ duration }} {{ format }}
      </div>
      <h1 class="post__title"> {{ title }}</h1>
      <div class="post__tagline">
        {{ description | safe }}
      </div>
      <div class="workshop__leads">
        {%- for lead in leads -%}
          <div class="author author--workshop">
            {% if lead.handle %}
              {% set author = lead.handle | findBySlug %}
            {% endif %}
            <div class="author__image-wrapper">
              {% image lead.image, lead.name, '2.5rem', 'eager', 'author__image', [40, 80] %}
            </div>
            <div class="author__text-wrapper">
              <div class="author__byline">
                with
                {% if lead.handle %}
                  <a class="author__name" href="/blog/author/{{ lead.handle }}">
                    {{ lead.name }}
                  </a>
                {% else %}
                  <span class="author__name">{{ lead.name }}</span>
                {% endif %}
              </div>
              <div class="author__bio">
                <p class="author__bio-text">
                  {{ lead.title }}
                </p>
                {% if author and author.data.twitter %}
                  <div class="author__socials">
                    <a class="author__twitter" href="https://twitter.com/{{ author.data.twitter }}/">
                      {% include 'svg/social-twitter.njk' %}
                      <span class="screenreader">@{{ author.data.twitter }} on Twitter</span>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="author__paragraph">
              {{ lead.bio }}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="break-grid rte">
      {{ content | safe }}
    </div>
  </article>

  {% include 'content/hero-playbook.njk' %}
{%- endblock -%}
