{%- macro authorLink(authorHandle, className) -%}
  {% set author = authorHandle | findBySlug %}
  {% if author %}
    <div class="author {{ className }}">
      <div class="author__image-wrapper">
        {% set imageUrl = '/assets/images/authors/' + author.data.page.fileSlug + '.jpg' %}
        {% image imageUrl, '', '2.5rem', 'eager', 'author__image', [40, 80] %}
      </div>
      <div class="author__text-wrapper">
        <div class="author__byline">
          by
          <a class="author__name" href="/blog/author/{{ author.data.page.fileSlug }}">
            {{ author.data.name }}
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{%- endmacro -%}
