{#
A list of items displayed in cards

Configuration Options:
list: A list where each item is an object with:
  heading: String heading
  text: Text heading
  icon: String which represents a filename of an icon listed in svg/*.njk

Example usage:
{{ cardList(principles.list) }}
#}
{% from "cta-link.njk" import ctaLink %}

{%- macro cardList(list, class) -%}
  <section class="card-list layout {{ class }}" data-break-grid>
    <ul class="card-list__list">
      {%- for item in list -%}
        <li class="card-list__item layout">
          {%- if item.linkUrl -%}
            <a href="{{ item.linkUrl }}" class="card-list__link">
              <span class="screenreader">{{ item.linkText }}</span>
            </a>
          {%- endif -%}
          <div class="card-list__item-container">
            {%- if item.icon -%}
              {%- set iconPath = ['svg/', item.icon,'.njk'] | join -%}
              <span class="card-list__icon">
                {%- include iconPath -%}
              </span>
            {%- endif -%}
            {%- if item.image -%}
              <span class="card-list__icon">
                <img src="{{ item.image }}" alt="">
              </span>
            {%- endif -%}
            <h3 class="card-list__item-heading h5">{{ item.heading }}</h3>
            <p class="card-list__text">{{ item.text }}</p>
            {%- if item.linkText -%}
              <span class="card-list__cta cta-link text--accent" aria-hidden="true">
                <span class="cta-link__text">{{ item.linkText }}</span>
                <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
              </span>
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </section>
{%- endmacro -%}
