{#
List of case studies as cards

Configuration Options:
list: An array where each item is the slug for the case study. Limit of 2 items.
#}

{% from "cta-link.njk" import ctaLink %}

{%- macro caseStudyFeature(caseStudies) -%}
  <section class="case-study-feature layout">
    {% for caseStudyHandle in caseStudies -%}
      {% set caseStudy = caseStudyHandle | findBySlug %}
      {% if caseStudy %}
        <div class="case-study-feature__item" data-color-scheme="{% if loop.index % 2 === 0 %}aqua{% else %}yellow{% endif %}">
          <div class="case-study-feature__text-wrapper">
            <h2 class="case-study-feature__title h3" aria-hidden="true">{{ caseStudy.data.displayTitle | stripHTML }}</h2>
            <div class="case-study-feature__text">
              {{ caseStudy.data.description }}
            </div>
          </div>
          <div class="case-study-feature__image-wrapper">
            <div class="case-study-feature__logo-wrapper">
              {% set imagePath %}/assets/images/logos/{{ caseStudy.data.company | slug }}.svg{% endset %}
              <img class="case-study-feature__logo" src="{{ imagePath }}" alt="{{ caseStudy.data.company }}">
            </div>
            {% if caseStudy.data.hero.image %}
              {% image caseStudy.data.hero.image, caseStudy.data.hero.imageAlt, '30rem', 'lazy', 'case-study-feature__image' %}
            {% endif %}

            {% set linkText %}Read <span class="screenreader">{{ caseStudy.data.company }}</span> Case Study{% endset %}
            {{ ctaLink(caseStudy.url, linkText, 'case-study-feature__cta') }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>
{%- endmacro -%}
