{#
List of clients as cards

Configuration Options:
list: An array where each item is the slug for the case study.
#}

{% from "client-card.njk" import clientCard %}

{%- macro clientList(clients, color, heading) -%}
  <section class="client-list layout" data-color-scheme="{{ color }}">
    {% if heading %}
      <h2 class="client-list__heading layout__full">{{ heading }}</h2>
    {% endif %}
    <div class="client-list__grid">
      {% for clientHandle in clients -%}
        {{ clientCard(clientHandle) }}
      {% endfor %}
    </div>
  </section>
{%- endmacro -%}
