{#
List of clients as cards. Displays as expandable accordion on small screens, and as a slideshow on larger screens.

Configuration Options:
list: An array where each item is the slug for the case study.
#}

{% from "client-card.njk" import clientCard %}

{%- macro clientListFull(clients, color, heading) -%}
  <section class="client-list layout">
    {% if heading %}
      <h2 class="client-list__heading layout__full">{{ heading }}</h2>
    {% endif %}
    <div class="client-list--mobile">
      {% set limit = 6 %}
      {% for clientHandle in clients -%}
        {% if loop.first %}
          <div class="client-list__grid">
        {% endif %}
        {{ clientCard(clientHandle) }}
        {% if loop.last %}
          </div>
        {% elif loop.index % limit === 0 %}
          </div>
          <button class="client-list__button cta-link text--accent" data-accordion-toggle="loadMore" aria-expanded="false">
            <span class="cta-link__text">Show more clients</span>
            <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
          </button>
          <div class="client-list__grid">
        {% endif %}
      {% endfor %}
    </div>
    <div class="client-list--desktop layout__full">
      <div class="overflow" data-overflow>
        <div class="client-list__overflow-wrapper" tabindex="0" data-overflow-scroll>
          <div class="client-list__overflow-list">
            <div class="client-list__grid" data-overflow-grid>
              {% for clientHandle in clients -%}
                <div class="client-list__grid-item">
                  {{ clientCard(clientHandle) }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="overflow__arrows" data-arrows>
          <button class="overflow__arrow overflow__arrow--prev" aria-label="Previous" data-prev type="button" disabled>
            {% include 'svg/arrow-right.njk' %}
          </button>
          <button class="overflow__arrow overflow__arrow--next" aria-label="Next" data-next type="button">
            {% include 'svg/arrow-right.njk' %}
          </button>
        </div>
      </div>
    </div>
  </section>
{%- endmacro -%}
