<section class="contact-form">
  <div class="layout">
    <h2 class="contact-form__heading h1">Send us a message</h2>
    <p class="contact-form__text">
      Following your message, we will schedule a call to understand your situation and discuss how we can help. We will use this information to prepare a proposal, laying out our process and how it would apply to your particular project. We will also define some project milestones and give you an overview of what a timeline could look like.
    </p>
  </div>
  <form class="contact-form__form layout" id="contact-form" data-status="initial">
    <div class="contact-form__form-content" data-form-content tabindex="-1">
      <label class="contact-form__label text--accent text--xs" for="contact-name">
        Your Name*
      </label>
      <input class="contact-form__input" id="contact-name" type="text" name="name" required>
      <label class="contact-form__label text--accent text--xs" for="contact-email">
        Your Email*
      </label>
      <input class="contact-form__input" id="contact-email" type="email" name="email" required>
      <label class="contact-form__label text--accent text--xs" for="contact-message">
        Tell us about your project
      </label>
      <textarea class="contact-form__input" id="contact-message" name="message" type="text" rows="8"></textarea>
      <button class="contact-form__button cta-link text--accent">
        <span class="cta-link__text">{{ 'Send Message' | buttonText | safe }}</span>
      </button>
    </div>
    <div class="contact-form__status layout">
      <button type="button" class="contact-form__reset" data-reset-form>
        <span class="screenreader">Close</span>
        {% include 'svg/close.njk' %}</span>
      </button>
      <div class="contact-form__loading" tabindex="-1" data-form-loading>
        <h2 class="contact-form__status-heading h2">Your message is being sent…</h2>
        <div class="contact-form__spinner"></div>
      </div>
      <div class="contact-form__error" tabindex="-1" data-form-error>
        <h2 class="contact-form__status-heading h2">Error</h2>
        Unable to send message. Please try again later or contact us at
        <a href="mailto:info@simplabs.com">
          info@simplabs.com
        </a>
      </div>
      <div class="contact-form__success" tabindex="-1" data-form-success>
        <div class="contact-form__status-wrapper">
          <h2 class="contact-form__status-heading h2">Thank you! We will be in touch soon.</h2>
          <p>
            In the meantime, have a look at our <a href="/playbook/">playbook</a>
            to learn more about how we build ambitious digital products or read about the
            <a href="/work/">other companies we helped in the past.</a>
          </p>
        </div>
      </div>
    </div>
  </form>
</section>
