{#
Section where one half is an image and the other half is a colored text block.

Configuration Options:
desktopTextPosition: 'left' or 'right',
color: One of the core brand colors
post: Blog post object

Example usage:
{{ featuredPost('left', 'purple', post) }}
#}
{% from "cta-link.njk" import ctaLink %}
{% from "author-link.njk" import authorLink %}

{%- macro featuredPost(desktopTextPosition, color, post) -%}
  <section class="split-hero layout split-hero--{{ desktopTextPosition }}" data-color-scheme="{{ color }}">
    <div class="split-hero__main">
      <div class="split-hero__container container">
        <a class="split-hero__full-link" href="{{ post.url }}">
          <h2 class="visually-hidden">
            {{ post.title }}
          </h2>
        </a>
        {% if post.data.tags %}
          <p class="split-hero__pretitle split-hero__pretitle--post">
            <span class="text--accent">
              {% for tag in post.data.tags %}
                {{ tag }}{% if loop.last !==   true %}, {% endif %}
              {% endfor %}
            </span>
            <span class="split-hero__date">
              {{ post.date | monthDayYear }}
            </span>
          </p>
        {% endif %}
        <p class="split-hero__title h2" aria-hidden="true">{{ post.data.title | safe }}</p>
        <div class="split-hero__author">
          {% if post.data.authorHandle %}
            {{ authorLink(post.data.authorHandle) }}
          {% endif %}
        </div>
        {% if post.data.tagline %}
          <div class="split-hero__text">{{ post.data.tagline | safe }}</div>
        {% endif %}
        {{ ctaLink(false, 'Read the post', 'split-hero__link') }}
      </div>
    </div>
    {% if post.data.image %}
      <div class="split-hero__image-wrapper">
        {% image post.data.image, post.data.imageAlt, '(min-width: 48em) 50vw, 100vw', content.loading, 'split-hero__image' %}
      </div>
    {% endif %}
  </section>
{%- endmacro -%}
