{#
Series of images with text to the side, in alternating directions.

Configuration Options:
textPosition: 'left' or 'right'. Text position on desktop for first block, the others will alternate.
barColor: String for one of the key brand colors.
barPosition: 'top' or 'bottom'. Bar position on desktop for first block, the others will alternate.
contentBlocks: An array of content blocks. Each content block with the following options:
  title: String or markup for heading. Text wrapped in <em> will have the text animation applied.
  titleHeadingLevel: heading level, defaults to h2
  text: String or markup for body text
  linkUrl: Optional link destination
  linkText: Optional link text
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'contentBlocks' = [{
  "title": "Guiding projects and teams to <em>sustainable</em> success",
  "text": "Mainmatter is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.",
  "linkUrl": "/services",
  "linkText": "Our Services",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
},{
  "title": "Guiding projects and teams to <em>sustainable</em> success",
  "text": "Mainmatter is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.",
  "linkUrl": "/services",
  "linkText": "Our Services",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy",
}] %}
{{ imageWithText('right', 'blue', 'top', contentBlocks) }}
#}
{% from "cta-link.njk" import ctaLink %}

{%- macro imageWithText(textPosition, barColor, barPosition, contentBlocks) -%}
  {%- if textPosition === 'left' -%}
    {%- set altTextPosition = 'right' -%}
  {%- else -%}
    {%- set altTextPosition = 'left' -%}
  {%- endif -%}
  <section class="image-text image-text--bar-{{ barPosition }}" data-break-grid>
    {%- for content in contentBlocks -%}
      {%- if content.titleHeadingLevel -%}
        {%- set headingLevel = content.titleHeadingLevel -%}
      {%- else -%}
        {%- set headingLevel = 'h2' -%}
      {%- endif -%}
      <div class="layout image-text__container image-text__container--{% if loop.index % 2 === 0 %}{{ altTextPosition }}{% else %}{{ textPosition }}{% endif %}">
        <div class="image-text__image-wrapper">
          {%- if content.video -%}
            <div class="image-text__video-wrapper">
              <video playsinline="" autoplay="" muted="" preload="" loop="" poster="{{ content.image }}" width="1280" height="496" class="image-text__video">
                <source src="{{ content.video }}" type="video/mp4">
              </video>
            </div>
          {%- elif content.image -%}
            <div>
              {%- image content.image, content.alt, '(min-width: 64em) 42rem, (min-width:48em) 50%, 100vw', content.loading, 'image-text__image', [580, 768] -%}
            </div>
          {%- endif -%}
          <div class="image-text__bar-position">
            <div class="image-text__bar" style="background-color: var(--color-{{ barColor }})"></div>
          </div>
        </div>
        <div class="image-text__main">
          {%- if content.title -%}
            <{{ headingLevel }} class="image-text__title {% if headingLevel === 'h1' %}h1{% else %}h3{% endif %}">
              {{ content.title | safe }}
            </{{ headingLevel }}>
          {%- endif -%}
          {%- if content.text -%}
            <div class="image-text__text">{{ content.text | safe }}</div>
          {%- endif -%}
          {%- if content.linkUrl -%}
            {{ ctaLink(content.linkUrl, content.linkText, 'image-text__link') }}
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </section>
{%- endmacro -%}
