{#
List of logo items.

Configuration Options:
link: An array where each item is a string of the company name.
An SVG image should be saved in the logos directory where the file name is equivalent to the slugified company name.

Example usage:
{% set logoCompanies = ['Qonto', 'Trainline', 'Timify', 'Cardstack', 'Generali', 'Experteer'] %}
{{ logoList(logoCompanies) }}
#}

{%- macro logoList(logos) -%}
  <section class="logo-list">
    <ul class="logo-list__list" tabindex="0">
      {% for logo in logos %}
        <li class="logo-list__item">
          <div class="logo-list__image">
            {% set imagePath %}/logos/monochrome/{{ logo | slug }}.svg{% endset %}
            {% svg imagePath, 'img' %}
            <span class="screenreader">{{ logo }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{%- endmacro -%}
