{#
Previous / next pagination for within listing pages

Configuration Options:
previous: page object of the next page, or null.
next: see above
#}

{%- macro navPagination(previous, next) -%}
  {% if previous or next %}
    <nav class="pagination layout" aria-label="Pagination">
      <div class="pagination__container layout__full">
        {% if previous %}
          <a class="pagination__link pagination__previous text--accent text--xs" href="{{ previous }}">
            {% include 'svg/arrow-right.njk' %}
            Previous
          </a>
        {% endif %}
        {% if next %}
          <a class="pagination__link pagination__next text--accent text--xs" href="{{ next }}">
            Next
            {% include 'svg/arrow-right.njk' %}
          </a>
        {% endif %}
      </div>
    </nav>
  {% endif %}
{%- endmacro -%}
