{#
An individual card for post

Configuration Options:
post: A post object

{{ postCard(post) }}
#}

{% from "author-link.njk" import authorLink %}

{%- macro postCard(post) -%}
  <div class="post-card layout">
    <div class="post-card__container">
      <a href="{{ post.url}}" class="post-card__link">
        <h2 class="screenreader">{{ post.data.title }}</h2>
      </a>
      <div class="post-card__meta">
        {% if post.data.tags %}
          <div class="post-card__tags">
            <ul class="tags">
              {% for tag in post.data.tags %}
                <li class="tags__tag-item">
                  <a class="post-card__internal-link text--accent text--xs" href="/blog/tag/{{ tag | slug }}">#{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="post-card__date">{{ post.date | monthDayYear }}</div>
      </div>
      <p class="post-card__title h3" aria-hidden="true">
        {{ post.data.title }}
      </p>
      <div class="post-card__author">
        {% if post.data.authorHandle %}
          {{ authorLink(post.data.authorHandle) }}
        {% endif %}
      </div>
      <p class="post-card__description">
        {{ post.data.tagline | formatTagline | safe }}
      </p>
    </div>
  </div>
{%- endmacro -%}
