
{#
Previous / next pagination for within posts

Configuration Options:
previous: page object of the next page, or null.
next: see above,
label: The kind of object, ie. post, video
#}

{%- macro postPagination(previous, next, label) -%}
  <nav aria-label="Post Pagination" class="post__pagination">
    {% if previous %}
      <a class="post__pagination-link post__pagination-link--prev" href="{{ previous.url }}">
        <p class="post__pagination-label text--accent text--xs">
          <span class="post__pagination-arrow">{% include 'svg/arrow-right.njk' %}</span>
          Previous {{ label }}
        </p>
        <p class="post__pagination-title">{{ previous.data.title }}</p>
      </a>
    {% endif %}
    {% if next %}
      <a class="post__pagination-link post__pagination-link--next" href="{{ next.url }}">
        <p class="post__pagination-label text--accent text--xs">
          Next {{ label }}
          <span class="post__pagination-arrow">{% include 'svg/arrow-right.njk' %}</span>
        </p>
        <p class="post__pagination-title">{{ next.data.title }}</p>
      </a>
    {% endif %}
  </nav>
{% endmacro %}
