{#
Section where one half is an image and the other half is a colored text block.

Configuration Options:
desktopTextPosition: 'left' or 'right',
color: One of the core brand colors
content: A content block with the following options:
  pretitle: String displayed in small type above the title.
  title: String or markup for heading. Text wrapped in <em> will have the text animation applied.
  titleHeadingLevel: One of h1, h2, h3, etc. Defaults to h2 if not set.
  text: String or markup for body text
  linkUrl: Optional link destination
  linkText: Optional link text
  image: Path to image in the file directory
  alt: Image alt text
  logo: Logo image
  logoAlt: logo alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'content' = {
  "title": "Co-Engineering the Future of Banking for SME",
  "text": "Empowering Qonto's ambitious engineers to achieve their goals",
  "linkUrl": "/cases/qonto/",
  "linkText": "Find out more",
  "image": "/assets/images/work/qonto.jpg",
  "alt": "Woman holds a credit card while using the Qonto web application",
  "logo": "/assets/images/logos/qonto.svg",
  "logoAlt": "Qonto",
  "loading": "lazy"
} %}
{{ splitHero('left', 'purple', content) }}
#}
{% from "cta-link.njk" import ctaLink %}

{%- macro splitHero(desktopTextPosition, color, content) -%}
  <section class="split-hero layout split-hero--{{ desktopTextPosition }}" data-color-scheme="{{ color }}">
    {%- if content.titleHeadingLevel -%}
      {%- set headingLevel = content.titleHeadingLevel -%}
    {%- else -%}
      {%- set headingLevel = 'h2' -%}
    {%- endif -%}
    <div class="split-hero__main">
      <{{ headingLevel }}>
        {% if content.pretitle %}
          <span class="split-hero__pretitle text--accent">{{ content.pretitle }}</span>
        {% endif %}
        {% if content.title %}
          <span class="split-hero__title {{ headingLevel }} text-animation">
            {{ content.title | safe }}
          </span>
        {% endif %}
      </{{ headingLevel }}>
      {% if content.text %}
        <p class="split-hero__text">{{ content.text | safe }}</p>
      {% endif %}
      {% if content.linkUrl %}
        {{ ctaLink(content.linkUrl, content.linkText, 'split-hero__link') }}
      {% endif %}
    </div>
    <div class="split-hero__image-wrapper">
      {% if content.image %}
        {% image content.image, content.alt, '(min-width: 48em) 50vw, 100vw', content.loading, 'split-hero__image' %}
      {% endif %}
      {% if content.logo %}
        <div class="split-hero__banner">
          {% image content.logo, content.logoAlt, '', content.loading, 'split-hero__logo' %}
        </div>
      {% endif %}
    </div>
  </section>
{%- endmacro -%}
