{% from "cta-link.njk" import ctaLink %}

{%- macro talkCard(talk) -%}
  <div class="talk-card layout">
    <a href="{{ talk.data.url }}" class="talk-card__link">
      <h3 class="screenreader">{{ talk.data.title }}</h3>
    </a>
    <div class="talk-card__container">
      <div class="talk-card__image-wrapper">
        {% image talk.data.image, "", '4.375rem', 'lazy', 'talk-card__image', [70, 140] %}
      </div>
      <p class="talk-card__title h3" aria-hidden="true">
        {{ talk.data.title }}
      </p>
      <div class="talk-card__description">
        {{ talk.templateContent | safe }}
      </div>
      {% if talk.data.media === 'video' %}
        {% set text = 'Watch Video' %}
      {% elif talk.data.media === 'podcast' %}
        {% set text = 'Listen to episode' %}
      {% endif %}
      {{ ctaLink(false, text, 'talk-card__cta') }}
    </div>
  </div>
{% endmacro %}
