
{% from "video-card.njk" import videoCard %}

{%- macro videoListExpand(videos, class, limit) -%}
  <div class="layout">
    <div class="video-list {{ class }} video-list__grid-wrapper">
      {% for video in videos -%}
        {% if loop.first %}
          <div class="video-list__grid">
        {% endif %}
        {{ videoCard(video) }}
        {% if loop.last %}
          </div>
        {% elif loop.index % limit === 0 %}
          </div>
          <button class="video-list__button cta-link text--accent" data-accordion-toggle="loadMore" aria-expanded="false">
            <span class="cta-link__text">Show more interviews</span>
            <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
          </button>
          <div class="video-list__grid">
        {% endif %}
      {% endfor %}
    </div>
  </div>
{%- endmacro -%}
