{#
An individual card for video

Configuration Options:
video: A video object

{{ videoCard(video) }}
#}
{%- macro videoCard(video) -%}
  <div class="video-card layout">
    <a href="{{ video.url }}" class="video-card__link">
      <h3 class="screenreader">{{ video.data.title }}</h3>
    </a>
    <div class="video-card__image-wrapper">
      {% image video.data.image, "", '(min-width: 48em) 21.25rem, 100vw', "lazy", 'video-card__image', [280, 560, 840] %}
      <span class="video-card__duration">{{ video.data.duration }}</span>
    </div>
    <div class="video-card__text-wrapper layout">
      <span class="video-card__label text--accent text--xs">
        {{ video.data.label }}
      </span>
      <p class="video-card__title h3" aria-hidden="true">
        {{ video.data.title }}
      </p>
      <p class="video-card__description">
        {{ video.data.description }}
      </p>
    </div>
  </div>
{%- endmacro -%}
