---
layout: base
renderData:
  title: All posts by {{ paged.author.data.name }}
noStickyHeader: true
description: 'The latest insights on product strategy, design and development. Read in-depth articles on the web technologies we master: Ember.js, Elixir/Phoenix, and JavaScript.'
pagination:
  data: collections.authorsPostsPaged
  size: 1
  alias: paged
permalink: "/blog/author/{{ paged.author.fileSlug }}/{% if paged.number > 1 %}/page/{{ paged.number }}/{% endif %}"
---
{% from "post-card.njk" import postCard %}
{% from "nav-pagination.njk" import navPagination %}

<div class="section">
  <div class="layout">
    <header class="layout__full author-header">
      {% set author = paged.author.fileSlug | findBySlug %}
      <div class="author-header__image-wrapper">
        {% set imageUrl = '/assets/images/authors/' + paged.author.fileSlug + '.jpg' %}
        {% image imageUrl, '', '6.625rem', 'eager', 'author-header__image', [106, 212] %}
      </div>
      <div class="author-header__text-wrapper">
        <h1 class="author-header__name h2">{{ author.data.name }}</h1>
        <p class="author-header__bio">{{ author.data.bio }}</p>
        <div class="author-header__meta">
          {% if author.data.twitter %}
            <a class="author-header__twitter" href="https://twitter.com/{{ author.data.twitter }}/">
              {% include 'svg/social-twitter.njk' %}
              <span class="screenreader">@{{ author.data.twitter }} on Twitter</span>
            </a>
          {% endif %}
          <span class="author-header__count">{{ paged.postTotal }} {% if paged.postTotal === 1 %}post {% else %}posts{% endif %}</span>
        </div>
      </div>
    </header>
    <ol class="post-cards">
      {%- for post in paged.posts -%}
        <li class="post-cards__item">
          {{ postCard(post) }}
        </li>
      {%- endfor -%}
    </ol>
  </div>

  {% if paged.first != true %}
    {%- set previous -%}/blog/author/{{ paged.author.fileSlug }}/{% if paged.number > 2 %}/page/{{ paged.number }}/{% endif %}{%- endset -%}
  {% endif %}
  {% if paged.last != true %}
    {%- set next -%}/blog/author/{{ paged.author.fileSlug }}/page/{{ paged.number + 1}}/{%- endset -%}
  {% endif %}

  {{ navPagination(previous, next) }}
</div>
