---
layout: base
title: Product & Engineering Blog
noStickyHeader: true
description: 'The latest insights on product strategy, design and development. Read in-depth articles on the web technologies we master: Ember.js, Elixir/Phoenix, and JavaScript.'
pagination:
  data: collections.posts
  size: 12
  alias: posts
permalink: "/blog/{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}/{% endif %}"
eleventyNavigation:
  key: Blog
  order: 50
---
{% from "featured-post.njk" import featuredPost %}
{% from "post-card.njk" import postCard %}
{% from "nav-pagination.njk" import navPagination %}

<div class="layout">
  {% if pagination.pageNumber === 0 %}
    {%- for post in posts -%}
      {% if loop.index === 1 %}
        {{ featuredPost('left', 'blue', post) }}
      {% elif loop.index === 6 %}
        {{ featuredPost('right', 'purple', post) }}
      {% elif loop.index === 2 or loop.index === 7 %}
        <ol class="post-cards">
          <li class="post-cards__item">
            {{ postCard(post) }}
          </li>
      {% elif loop.index === 5 or loop.index === 12 %}
          <li class="post-cards__item">
            {{ postCard(post) }}
          </li>
        </ol>
      {% else %}
        <li class="post-cards__item">
          {{ postCard(post) }}
        </li>
      {% endif %}
    {%- endfor -%}
  {% else %}
    <ol class="post-cards">
      {%- for post in posts -%}
        <li class="post-cards__item">
          {{ postCard(post) }}
        </li>
      {%- endfor -%}
    </ol>
  {% endif %}
</div>

{{ navPagination(pagination.href.previous, pagination.href.next) }}
