---
layout: 'base'
title: Calendar
description: Find out where and when there are upcoming events, conferences and meetups we will be attending or organizing in our calendar.
---
{% from "text-hero.njk" import textHero %}
{% from "event-card.njk" import eventCard %}

{%- set kinds = ["Conference", "Workshop", "Meetup" ] -%}

{% set 'content' = {
  "title": "Calendar",
  "text": "Find out about upcoming events, conferences and meetups we will be attending or organizing."
} %}
{{ textHero('blue', content) }}

<div class="section">
  <div class="layout">
    {%- set totalCount -%}{{ collections.calendar | length }}{% endset %}
    {% if totalCount == 0 %}
      <div class="calendar__empty">
        <p>We currently don't have any upcoming events. <a href="/playbook/">Download our playbook</a> for more insights from the Mainmatter team.</p>
      </div>
    {% else %}
      {%- for kind in kinds -%}
        {%- set eventCount = 0 -%}
        {%- for event in collections.calendar -%}
          {%- if event.data.kind == kind.toLowerCase() %}
            {%- set eventCount = eventCount + 1 -%}
            {%- if eventCount == 1 -%}
              <h2 class="calendar__subtitle layout__full">{{ kind }}</h2>
              <ul class="event-cards">
            {%- endif -%}
            {{ eventCard(event) }}
          {%- endif -%}
        {%- endfor -%}
        {%- if eventCount > 0 %}
          </ul>
        {%- endif -%}
        {%- if loop.index === 2 -%}
          </div>
          {%- include 'content/secondary-feature-ember.njk' -%}
          <div class="layout">
        {%- endif -%}
      {%- endfor -%}
    {% endif %}
  </div>
</div>
