---
layout: base
title: Expert Insights
description: Our interview series goes behind the scenes to uncover the path to successful product development from an insider's perspective.
permalink: /resources/expert-insights/
eleventyNavigation:
  key: Expert Insights
  parent: Resources
  order: 30
---
{% from "video-card.njk" import videoCard %}
{% from "split-hero.njk" import splitHero %}
{% from "image-with-text.njk" import imageWithText %}
{% from "video-list-expand.njk" import videoListExpand %}

{% set 'contentBlocks' = [{
  "title": "Expert Insights",
  "text": "Our interview series goes behind the scenes to uncover the path to successful product development from an insider's perspective.",
  "video": "/assets/images/resources/header-video.mp4",
  "image": "/assets/images/resources/header-video.poster.jpg",
  "loading": "lazy"
}] %}
{{ imageWithText('left', 'purple', 'top', contentBlocks) }}

{% set videos = collections.videos | filterByAttribute('kind', 'built-to-last') %}
{{ videoListExpand(videos, '', 6) }}

{% set 'content' = {
  "title": "Are you a startup founder? Get in touch!",
  "text": "We are always looking for startup founders to learn from. Let's talk.",
  "linkUrl": "https://docs.google.com/forms/d/e/1FAIpQLSeqUUG0-9BrLTUKomEbTbLef3H00iq8oUWmwR_dqeaqV7Ny6Q/viewform",
  "linkText": "Become a guest",
  "image": "/assets/images/photos/0028-1.jpg",
  "alt": "Two sets of people having a conversation",
  "loading": "lazy"
} %}
{{ splitHero('left', 'yellow', content) }}

{% include 'content/hero-playbook.njk' %}
