---
layout: 'base'
title: Talks, Workshops & Podcasts
description: In our resource hub for innovators and entrepreneurs we share real-world techniques to help teams tapping into their full potential.
eleventyNavigation:
  key: Resources
  order: 40
  linkText: Discover our resources
---
{% from "split-hero.njk" import splitHero %}
{% from "video-card.njk" import videoCard %}
{% from "video-list-expand.njk" import videoListExpand %}
{% from "video-list-overflow.njk" import videoListOverflow %}
{% from "workshop-card.njk" import workshopCard %}
{% from "color-hero.njk" import colorHero %}
{% from "image-with-text.njk" import imageWithText %}

{% set 'content' = {
  "pretitle": "Resources",
  "title": "Tap into <em>practical</em> insight from industry experts",
  "titleHeadingLevel": "h1",
  "text": "Your team can tap into its full potential by sourcing best practices from leaders in the industry. Mainmatter's experts would love to accelerate your growth by sharing their hard-won insights into sustainable development.",
  "image": "/assets/images/photos/0005.jpg",
  "alt": "Woman looking at a laptop",
  "loading": "eager"
} %}
{{ splitHero('left', 'yellow', content) }}

{% set 'contentBlocks' = [{
  "title": "This is what success looks like",
  "text": "Our interview series goes behind the scenes to uncover the path to successful product development from an insider's perspective.",
  "video": "/assets/images/resources/header-video.mp4",
  "image": "/assets/images/resources/header-video.poster.jpg",
  "loading": "lazy"
}] %}
{{ imageWithText('left', 'yellow', 'top', contentBlocks) }}

{% set videos = collections.videos | filterByAttribute('kind', 'built-to-last') %}

{{ videoListExpand(videos, 'video-list--mobile', 3) }}
{{ videoListOverflow(videos, 'video-list--desktop') }}

{% set talk = '2020-12-10-the-three-pillars-of-successful-digital-product-development' | findBySlug %}
{% set 'content' = {
  "title": talk.data.title,
  "text": talk.data.teaser,
  "image": talk.data.image,
  "alt": talk.data.imageAlt,
  "loading": "lazy",
  "tags": talk.data.tags,
  "linkUrl": talk.url,
  "linkText": "Find out more"
} %}
{{ splitHero('left', 'blue', content) }}

{% set 'contentBlocks' = [{
  "title": "Workshops",
  "text": "We teach teams like yours how to build sustainable products that work well today and keep working well tomorrow.",
  "image": "/assets/images/photos/0011.jpg",
  "alt": "",
  "loading": "lazy"
}] %}
{{ imageWithText('right', 'aqua', 'top', contentBlocks) }}

<div class="layout">
  <ul class="workshop-cards">
    {% set workshops = collections.workshops %}
    {%- for workshop in workshops -%}
      {{ workshopCard(workshop) }}
    {%- endfor -%}
  </ul>
</div>

{% set 'content' = {
  "title": "The sustainable approach for your team",
  "text": "Sustainable growth is achievable, but teams rarely get there by accident. Our Playbook shares practical, actionable insights to help you build digital products while running a collaborative product development process.",
  "linkUrl": "/playbook/",
  "linkText": "Read the playbook",
  "image": "/assets/images/photos/0035.jpg",
  "alt": "Hands gesturing in front of a smart phone",
  "loading": "lazy"
} %}
{{ colorHero('md', 'purple', content) }}
