---
renderData:
  title: Tagged with “{{ paged.tag }}”
noStickyHeader: true
description: 'The latest insights on product strategy, design and development. Read in-depth articles on the web technologies we master: Ember.js, Elixir/Phoenix, and JavaScript.'
layout: base
pagination:
  data: collections.tagsPostsPaged
  size: 1
  alias: paged
permalink: "/blog/tag/{{ paged.tag | slug }}/{% if paged.number > 1 %}/page/{{ paged.number }}/{% endif %}"
---
{% from "post-card.njk" import postCard %}
{% from "nav-pagination.njk" import navPagination %}

<div class="section">
  <div class="layout">
    <h1 class="layout__full section__title">Tagged with <em>“{{ paged.tag }}”</em></h1>
    <ol class="post-cards">
      {%- for post in paged.posts -%}
        <li class="post-cards__item">
          {{ postCard(post) }}
        </li>
      {%- endfor -%}
    </ol>
  </div>

  {% if paged.first != true %}
    {%- set previous -%}/blog/tag/{{ paged.tag | slug }}/{% if paged.number > 2 %}/page/{{ paged.number }}/{% endif %}{%- endset -%}
  {% endif %}
  {% if paged.last != true %}
    {%- set next -%}/blog/tag/{{ paged.tag | slug }}/page/{{ paged.number + 1}}/{%- endset -%}
  {% endif %}

  {{ navPagination(previous, next) }}
</div>
