---
layout: base
title: Workshops
description: We teach teams like yours how to build sustainable products that work well today and keep working well tomorrow.
permalink: /resources/workshops/
eleventyNavigation:
  key: Workshops
  parent: Resources
  order: 40
---
{% from "workshop-card.njk" import workshopCard %}
{% from "image-with-text.njk" import imageWithText %}

{% set 'contentBlocks' = [{
  "title": "Workshops",
  "titleHeadingLevel": "h1",
  "text": "We teach teams like yours how to build sustainable products that work well today and keep working well tomorrow.",
  "image": "/assets/images/photos/0011.jpg",
  "alt": "",
  "loading": "lazy"
}] %}
{{ imageWithText('left', 'aqua', 'top', contentBlocks) }}

<div class="layout">
  <ul class="workshop-cards">
    {% set workshops = collections.workshops %}
    {%- for workshop in workshops -%}
      {{ workshopCard(workshop) }}
    {%- endfor -%}
  </ul>
</div>

{% include 'content/hero-playbook.njk' %}
