<div class="nav__mobile-menu mobile-menu">
  <ul class="mobile-menu__list container">
    {%- for entry in navPages %}
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" {% if entry.url == page.url %}aria-current="page"{% endif %} href="{{ entry.url | url }}">
          {{ entry.title }}
          {% include 'svg/arrow.njk' %}
        </a>
        {% if entry.children.length > 0 %}
          <ul class="mobile-menu__submenu">
            {% for childEntry in entry.children %}
              <li class="mobile-menu__submenu-item">
                <a class="mobile-menu__submenu-link h5" {% if childEntry.url == page.url %}aria-current="page"{% endif %} href="{{ childEntry.url | url }}">
                  {{ childEntry.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {%- endfor %}
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" {% if page.url === '/contact/' %}aria-current="page"{% endif %} href="/contact/">
        Contact Us
        {% include 'svg/arrow.njk' %}
      </a>
    </li>
  </ul>
</div>
